#footer {
    padding: 40px 0;
    text-align: center;
}

#footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer nav ul li {
   list-style: none;
   margin-right: 15px;
}