* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #202020;
}

p {
    font-size: 1.2rem;
    margin: 20px 0;
    line-height: 30px;
    font-weight: 300;
}